{{gradient-info
	gradient=gradient
}}

<button {{action (route-action 'addGradientStop')}}>Add stop</button>
<button {{action (route-action 'addGradientLayer')}}>Add layer</button>

{{gradient-dial
	angle=activeGradientLayer.angle
}}

{{#each activeGradientLayer.gradientStops as |gradientStop|}}
	{{gradient-stop
		gradientStop=gradientStop
	}}
{{/each}}

{{#if allGradientLayers.length}}
	<style type="text/css">
		body {
			background: {{allGradientLayers}};
		}
	</style>
{{else}}
	<style type="text/css">
		body {
			background-color: {{gradient.gradientLayers.firstObject.gradientStops.firstObject.color}};
		}
	</style>
{{/if}}

{{gradient-layers
	activeGradientLayerId=activeGradientLayer.id
	gradientLayers=gradientLayersSorted
	setActiveGradientLayer=(action 'setActiveGradientLayer')
}}
