<div class="gradient-controls">
	{{gradient-info
		gradient=gradient
	}}	
	<button 
		class="gradient-controls__add-gradient"
		{{action (route-action 'addGradientStop')}}>
		{{svg-icon name="eyedropper"}}
	</button>
	<button 
		class="gradient-controls__add-gradient-layer"
		{{action (route-action 'addGradientLayer')}}>
		{{svg-icon name="layers"}}
	</button>
	<button 
		class="gradient-controls__save-gradient"
		{{action (route-action 'saveGradient')}}>
		{{svg-icon name="disk"}}
	</button>
</div>

{{gradient-dial
	angle=activeGradientLayer.angle
}}

{{#each activeGradientLayer.gradientStops as |gradientStop|}}
	{{gradient-stop
		gradientStop=gradientStop
	}}
{{/each}}

{{#if allGradientLayers.length}}
	<style type="text/css">
		body {
			background: {{allGradientLayers}};
		}
	</style>
{{else}}
	<style type="text/css">
		body {
			background-color: {{gradient.gradientLayers.firstObject.gradientStops.firstObject.color}};
		}
	</style>
{{/if}}

{{gradient-layers
	activeGradientLayerId=activeGradientLayer.id
	gradientLayers=gradientLayersSorted
	setActiveGradientLayer=(action 'setActiveGradientLayer')
}}
