<button {{action (route-action 'addGradientStop')}}>Add stop</button>
<br>
<br>
<br>
{{#each gradientStops as |gradientStop|}}
	{{gradient-stop
		gradientStop=gradientStop
	}}
{{/each}}

{{gradient-dial
	angle=angle
}}

{{input type="number" value=angle}}

{{#if gradientStopsAsc.length}}
<pre><code>
body {
	{{#if (gt gradientStopsAsc.length 1)}}
	background: {
		linear-gradient(
			{{angle}}deg,
			{{#each gradientStopsAsc as |gradientStop idx|}}
			{{gradientStop.color}} {{gradientStop.left}}%{{#if (lt idx gradientStopsMax)}},{{/if}}
			{{/each}}
		)
	}
	{{else}}
	background-color: {{gradientStops.firstObject.color}};	
	{{/if}}
}
</code></pre>
{{/if}}

{{#if (gt gradientStopsAsc.length 1)}}
<style type="text/css">
	body {
		background: linear-gradient({{angle}}deg, {{gradientCss}});
	}
</style>
{{else if gradientStopsAsc.length}}
<style type="text/css">
	body {
		background-color: {{gradientStops.firstObject.color}};
	}
</style>
{{/if}}